
/* COLORS */

:root{
    --main-color: #0084FD;
    --main-color-light:#B5DDFF;
    --secondary-color: #9792E4;
}


.main-color-bg{
    background-color: var(--main-color);
}

.main-color-light-bg{
    background-color: var(--main-color-light);
}

.secondary-color-bg {
    background-color: var(--secondary-color);
}