
@import "reset.css";
@import "general.css";
@import "colors.css";


/* HEADER */

.header-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header-content .nav-container{
    display: none;
}

.header-content .nav-container ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.header-content .nav-container ul li a{
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.726);
    padding-left: 1.25rem;
    font-size: .8125rem;
}

.header-content .logo-container{
    width: 50px;
}

.header-content .logo-container img{
    width: 100%;
}

.header-content .hamburger-container{
    color: white;
}




/* MAIN */

main section {
    padding: 2.5rem 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.625rem;
}

.col{
    width: calc(100% - 1.25rem);
    margin: 0 0.625rem 1.25rem;
}

.left,
.right{
    width: 100%;
}













/*
    ---------------------------------
            RESPONSIVE
    ---------------------------------
*/

/* TABLET da 768px in poi */

@media screen and (min-width: 768px) {

    /* header */

    /* main */

    .col {
        width: calc((100% / 3) - 1.25rem);
    }

    .col.special {
        width: calc(((100% / 3) * 2) - 1.25rem);
    }


    
}



/* DESKTOP da 992px in poi */

@media screen and (min-width: 992px) {

    /* header */

    .header-content .hamburger-container{
        display: none;
    }

    .header-content .nav-container{
        display: block;
    }


    /* main */

    .col.special{
        display: flex;
    }

    .col.special > div{
        width: 50%;
    }

    .left,
    .right{
        width: 40%;
        text-align: center;
    }

  
}






